<h1>User Info</h1>
<br>
<div style="overflow-wrap:break-word" class="container-fluid">
    <h6>Name: {{name}}</h6>
    <h6>Sub: {{sub}}</h6>
    <h6>JWT: {{JWT}}</h6>
    <br> 
    <p>Logout to create a new user</p>
    <form class="form-inline" action="/logout">
    <button type="submit" class="btn btn-primary mb-2">Logout</button>
    </form>
</div>
